<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RtspPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RtspPlayer.Properties.Settings>
            <setting name="Setting1" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting2" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting3" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting4" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting5" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting6" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting7" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting8" serializeAs="String">
                <value />
            </setting>
        </RtspPlayer.Properties.Settings>
    </userSettings>
</configuration>